* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* LoginComponent.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.input-field {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
}

.login-button:hover {
    background-color: #45a049;
}

.login-set {
    width: 30%;
    margin: 13.8% auto;
}

.link,span{
    text-decoration: none;
    color:  white;
    margin: 5px 0px;
}